*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    max-width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-image: linear-gradient(to right, rgb(16, 133, 223), rgb(246, 246, 248));
}
.login{
  flex-direction: column;
}
.login_container{
    width:350px;
    padding:100px;
    border-radius:15px;
    box-shadow:0 10px 30px rgba(0,0,0,.25);
}
.login_container h1{
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
.login_button{
    padding:4px 10px;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 3px;
    margin-top: 5px;
}
